<% content_for :title, "Editing tweet" %>

<h1>Editing tweet</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class="d-flex align-items-center">
  <%= link_to   "Regresar", tweets_path, class: "p-2 mr-2 btn btn-light border", style:"width: 120px;" %>
  <%= link_to   "Ver", @tweet, class: "p-2 mx-2 btn btn-success", style:"width: 120px;" %>
</div>


